@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap"); /*telechargement des polices*/

:root {
  --blue: #0065fc; /* Déclaration d'une variable css*/
  --clearblue: #deebff; /* Déclaration d'une variable css*/
  --grey: #f2f2f2; /* Déclaration d'une variable css*/
}

* {
  box-sizing: border-box; /*retire les margin et padding*/
  font-family: "Raleway", "sans-serif"; /*si probleme de dl passe en sans-serif*/
}

ul {
  list-style-type: none; /*retire les puce*/
  display: flex; /*declaration du flex*/
  padding: 0; /*retire la bordure interieur*/
  margin: 0; /*retire la marge exterieur*/
  gap: 16px; /*espace tout le contenu*/
}

/*header*/
a {
  color: black; /*couleur de la police noire*/
  text-decoration: none; /*retire le surlignage*/
  width: 100%; /*prend toute la place*/
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /*centrage dans la nav*/
  flex-wrap: wrap; /*passe en mode block si besoin*/
}

nav a {
  padding: 32px; /*bordure interieur*/
  border-top: 3px solid transparent; /*bordure superieur tips pour eviter le decalage */
  border-bottom: 3px solid transparent; /*bordure inferieur tips pour eviter le decalage*/
}

nav a:hover {
  border-top: 3px solid var(--blue); /*bordure superieur*/
}

.logo {
  margin-right: auto; /*dit a mon logo de prendre toute la place*/
  padding: 0 16px; /*bordure interieur horizontal sans padding vertical*/
}

.ul_hebergements_activites a:hover {
  color: var(--blue); /*couleur du text*/
}

header {
  max-width: 1440px; /*taille max de ma page*/
  margin: auto; /*centrage auto*/
}

main {
  max-width: 1440px; /*taille max de ma page*/
  margin: auto; /*centrage auto*/
}
body {
  margin: 0;
}
/*main corp*/

.corp {
  display: block;
  max-width: 1440px;
  margin: auto;
  padding: 0 32px; /*bordure interieur horizontal sans padding vertical*/
  margin-bottom: 48px;
}

.corp h1 {
  margin-bottom: 16px;
  font-size: 150%;
}

.corp p {
  margin-bottom: 16px;
}
/*barre de recherche*/
.div_barre_de_recherche {
  display: inline-flex; /*cree mon diplay flex*/
  font-size: 16px; /*taille de la police dans le bouton*/
}
.div_barre_de_recherche > *,
.div_barre_de_recherche input::placeholder {
  font-size: 16px;
}

.div_barre_de_recherche .fas.fa-map-marker-alt {
  background-color: var(--grey); /*appelle de ma var*/
  border-radius: 16px 0 0 16px; /*fait les arondi commence en haut a gauche et en sens horaire*/
  cursor: pointer; /*change le curseur en mode editeur de text*/
  padding: 16px;
  font-weight: bold; /*police en gras dans l'exemle de text*/
  transition: background-color 0.2s; /*transition sur la couleur*/
}

.div_barre_de_recherche .fas.fa-map-marker-alt:hover {
  background-color: LightGray; /*change la couleur de mon i quand survolé*/
}

.div_barre_de_recherche input {
  flex-basis: 256px; /*longueur de l'imput*/
  border: none; /*efface les barre de l'input*/
  border-top: 2px solid var(--grey);
  border-bottom: 2px solid var(--grey);
  outline: none; /*retire la bordure noir quand focus a voir si il faut ou pas??*/
  cursor: text; /*change le curseur en mode editeur de text*/
  overflow: hidden; /*ne fonctionne pas */
  padding: 16px 27px;
}

.div_barre_de_recherche input::placeholder {
  color: black; /*couleur exemple de text */
  font-weight: bold; /*police en gras dans l'exemle de text*/
  padding: 0;
}

.div_barre_de_recherche button {
  border-radius: 0 16px 16px 0; /*cree les arrondis*/
  background-color: var(--blue); /*appelle de ma var*/
  color: white; /*couleur ecriture blanche*/
  font-weight: bold; /*mes en gras*/
  border-color: transparent; /*ou border:none*/
  cursor: pointer; /*transforme le curseur en main*/
  transition: background-color 0.3s; /*transition sur l'opaciter*/
  margin: 0 -16px;
  padding: 16px 16px;
}

.div_barre_de_recherche button:hover {
  background-color: #003c96; /*change la couleur de mon bouton recherche quand survolé*/
}

.fas.fa-search {
  display: none; /*cache la loupe*/
}

.div_barre_de_recherche__input_button {
  padding: 0;
}

/*filtre*/

.h2_filres {
  margin: 0 16px 0 0;
}

.filtres_list {
  display: inline-flex; /*flex-box en ligne*/
  align-items: center; /*centrage dans la nav*/
  margin: 32px 0;
  flex-wrap: wrap; /*la flexbox peut aller a la ligne si le besoin se fait sentir*/
}

.icon-filter {
  color: var(--blue);
}

.filtres {
  margin-right: 16px;
  border: 2px solid var(--grey); /*cree une bordure de 2px de large trait plein couleur grise*/
  border-radius: 32px;
  display: inline-flex; /*mes la flex box en inline*/
  align-items: center; /*centrage dans la nav*/
  cursor: pointer; /*change le curseur en main*/
  transition: transform 0.2s; /*transition sur l'opaciter*/
}

.filtres_div {
  background-color: var(--clearblue);
  border-radius: 100%;
  height: 48px;
  width: 48px;
  min-height: 56px;
  min-width: 56px;
  display: flex;
  align-items: center; /*alignement vertical*/
  justify-content: center; /*alignement horizontal*/
  margin: -2px;
}

.filtres_span {
  margin: 0 16px;
  white-space: nowrap;
  font-weight: bold; /*police en gras dans l'exemle de text*/
}

.info_filtres {
  display: inline-flex;
  align-items: center;
}

.div_info_div {
  border-radius: 100%;
  border: 2px solid var(--grey);
  min-height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.div_info_div_span {
  margin: 0 16px;
  white-space: nowrap;
}

.filtres:hover {
  transform: scale(1.02); /*grandi de 2%*/
  background-color: #f2f5f7;
}

.fas.fa-info {
  color: var(--blue);
}

/*section hebergement et populariter*/

.hebergement_populaire {
  display: flex;
  margin: 16px 0;
}

.titre_carte_hebergement {
  padding: 32px;
  flex-basis: 66%;
  background-color: var(--grey);
  margin-right: 46px;
  border-radius: 16px;
}

.titre_carte_hebergement > p {
  margin-bottom: 0;
  padding-top: 8px;
}

.carte_hebergement {
  display: flex;
  flex-wrap: wrap; /*passe en mode block si besoin*/
  gap: 16px;
}

.titre_carte_populaire {
  background-color: var(--grey);
  flex-basis: 33%;
  padding: 32px;
  border-radius: 16px;
}

.etoile {
  margin: 5px 16px;
  display: flex;
}

.fa-star {
  color: var(--blue);
}

.etoile_grise {
  color: #d9d9d9;
}

.bold {
  font-weight: bold;
  font-size: 100%;
  margin: 5px 16px;
}

.carte_hebergement > li {
  width: 30%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 6px 0px #0000002e;
  padding: 5px;
  flex-grow: 1;
  transition: all 0.2s;
}

.carte_hebergement > li:hover {
  transform: scale(1.02);
}

.carte_hebergement li a p {
  margin: 5px 16px;
  font-size: 80%;
}

.nuit {
  font-size: 90%;
}

.image_carte_hebergement {
  height: 112px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 16px 16px 0 0;
}

.carte_populaire {
  display: block;
}

.carte_populaire > li {
  display: flex;
  border-radius: 16px;
  background-color: white;
  margin-bottom: 16px;
  transition: all 0.2s;
}

.carte_populaire > li:hover {
  filter: brightness(1.1);
}

.carte_populaire > li > a {
  display: flex;
}

.image_carte_populaire {
  border-radius: 16px 0 0 16px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.carte_populaire div p {
  margin: 5px 16px;
}
.div_image_carte_populaire {
  position: relative;
  min-height: 100%;
  width: 40%;
  min-width: 40%;
  max-width: 40%;
  height: 136px;
}
.titre_carte_populaire h2 {
  display: flex;
  justify-content: space-between;
}

.blabla_populaires {
  display: flex;
  flex-direction: column;
}

.blabla_populaires_espace {
  flex: 1;
}
/*activite*/

.column {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 480px;
  gap: 32px;
}

.column h4 {
  margin: 0;
  padding: 19px 0 25px 0;
  padding-left: 16px;
  font-size: 90%;
}
.column1 {
  box-shadow: 0px 0px 6px 0px #0000002e;
  border-radius: 16px;
  height: 480px;
}

.column3 {
  box-shadow: 0px 0px 6px 0px #0000002e;
  border-radius: 16px;
  height: 480px;
}

/*1er enfant div de mon 2em enfant de column*/
.column:nth-child(2) > div:nth-child(1) {
  flex: 2; /*prend 2 place dans la colonne*/
  box-shadow: 0px 0px 6px 0px #0000002e;
  border-radius: 16px;
}

/*2em enfant div de mon 2em enfant de column*/
.column:nth-child(2) > div:nth-child(2) {
  flex: 1; /*prend 1place dans la colonne*/
  box-shadow: 0px 0px 6px 0px #0000002e;
  border-radius: 16px;
}

.column:nth-child(4) > div:nth-child(1) {
  flex: 1;
  box-shadow: 0px 0px 6px 0px #0000002e;
  border-radius: 16px;
}

.column:nth-child(4) > div:nth-child(2) {
  flex: 1;
  box-shadow: 0px 0px 6px 0px #0000002e;
  border-radius: 16px;
}

.section_activite {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: auto;
  margin-bottom: 64px;
}
.activites {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 80%;
  width: 100%;
}
.carte_activites {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.activites h3 {
  display: inline-block;
  width: 100%;
  align-items: flex-start;
}

.image1 {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.image2 {
  width: 100%;
  height: 233px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.image3 {
  width: 100%;
  height: 84px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.image4 {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.image5 {
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
  height: 159px;
}
.image6 {
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
  height: 159px;
}

.column1:hover,
.column:nth-child(2) > div:nth-child(1):hover,
.column:nth-child(2) > div:nth-child(2):hover,
.column3:hover,
.column:nth-child(4) > div:nth-child(1):hover,
.column:nth-child(4) > div:nth-child(2):hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 0.2s;
}

/*footer*/
footer {
  background-color: var(--grey);
  width: 100%;
  justify-content: center;
  display: flex;
}

footer div {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  box-sizing: border-box;
}

.colonne_footer {
  display: block;

  padding: 16px 32px;
}
.colonne_footer a {
  display: block;
  margin-bottom: 11px;
}

/*media*/
@media (max-width: 992px) {
  .carte_hebergement {
    margin: 0 0 32px 0;
  }

  .column {
    flex-direction: unset;
    width: 100%;
    height: 240px;
  }

  .column1,
  .column3 {
    width: 100%;
    height: 240px;
  }

  .column:nth-child(2) > div:nth-child(1) {
    flex: 1;
    height: 240px;
  }

  .column:nth-child(2) > div:nth-child(2) {
    height: 240px;
  }

  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6 {
    height: 178px;
  }

  .column:nth-child(2) > div:nth-child(2) {
    height: 240px;
  }

  .activites {
    padding: 0 32px;
  }

  .hebergement_populaire {
    flex-direction: column-reverse;
    margin: 16px 0 0 0;
  }

  .carte_hebergement > li {
    width: 40%;
  }

  .titre_carte_hebergement {
    background-color: white;
    margin-right: 0;
  }

  .corp {
    padding: 0 16px;
    display: block;
    max-width: 1440px;
    margin: auto;
    padding: 0;
  }

  .padding1 {
    padding: 0 16px;
  }

  .titre_carte_populaire {
    border-radius: 0;
  }

  .colonne_footer {
    padding: 16px 32px;
  }

  .titre_carte_hebergement > p > a {
    margin: 0;
  }
}

/*media*/
@media (max-width: 768px) {
  .logo {
    margin: auto;
  }

  .column {
    flex-direction: column;
  }

  .column768px {
    height: 504px;
  }

  footer div {
    display: block;
  }

  /*header*/
  .ul_hebergements_activites {
    order: 1; /*changemment ordre des flex*/
    flex-basis: 100%; /*= au wight mais en flex*/
    display: flex; /*cree mon diplay flex*/
    gap: 0px;
  }
  .ul_hebergements_activites li {
    flex-basis: 50%; /*prend 50% de l'ecran*/
    text-align: center; /*alignement du text*/
    border-bottom: 3px solid var(--grey); /*bordure inferieur*/
    border-top: 3px solid transparent;
    padding: 32px;
  }
  .ul_hebergements_activites > li:hover {
    border-top-color: transparent; /*bordure superieur tips pour eviter le decalage */
    border-bottom: 3px solid var(--blue); /*bordure inferieur*/
  }
  .ul_hebergements_activites > li > a:hover {
    border-top-color: transparent; /*bordure superieur tips pour eviter le decalage */
  }

  /*barre de recherche*/
  .div_barre_de_recherche .recherche {
    display: none;
  }

  .fas.fa-search {
    display: inline;
  }

  .div_barre_de_recherche button {
    border-radius: 16px;
  }

  .carte_hebergement > li {
    width: 100%;
  }

  .titre_carte_populaire {
    border-radius: 0;
  }
}
